body {
    margin: 0%;
    background-color: #1B1C1E;
}

#lyricer {
    font-size: 8vh;
    font-family: 'Roboto', sans-serif;
    color: #F1F1F1;
    overflow: hidden;
    text-align: center;
}

audio {
    /*border-radius: 90px;*/
    width: 250px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    
    audio::-webkit-media-controls-mute-button {
    display: none !important;
    }
    
    audio::-webkit-media-controls-volume-slider {
    display: none !important;
    }
    
    audio::-webkit-media-controls-volume-control-container.closed {
    display: none !important;
    }
    audio::-webkit-media-controls-volume-control-container{
    display: none !important;
}

#lyricer ul {
    list-style-type: none;
    padding: 5px;
}

#lyricer ul li {
    overflow: auto;
}

/*
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: red;
}


#lyricer .lyricer-current-line {
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ff2d95, 0 0 6px #ff2d95, 0 0 8px #ff2d95, 0 0 10px #ff2d95, 0 0 12px #ff2d95;
}
*/